{% extends "auctions/layout.html" %}

{% block title %}
    Categories
{% endblock %}

{% block body %}
    <h2>Categories</h2>
    
    <div class="list-group" style="max-width: 600px; margin-top: 20px;">
        {% for category in categories_list %}
            <a href="{% url 'listing_by_category' category.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{ category.name }}
                <span class="badge bg-primary rounded-pill">View</span>
            </a>
        {% empty %}
            <p>No categories defined.</p>
        {% endfor %}
    </div>
{% endblock %}